* {
  box-sizing: border-box;
}

body {
  background-image: url('Background.jpg');
  background-size: cover;
  margin: 0;
}
h1 {
  display: flex;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4rem;
  color: floralwhite;
  text-align: center;
}

h2 {
  padding-left: 4rem;
  padding-top: 3rem;
  margin-bottom: 0;
}

.shirtContainer,
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  width: 10rem;
  height: 10rem;
}

button {
  margin-top: 3rem;
  background-color: floralwhite;
  padding: 1rem;
  border-radius: 0.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}

article {
  margin-block-end: 2rem;
}

footer {
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: 30rem auto;
  align-items: center;
  padding-top: 1rem;
  margin-bottom: 0;
}

.presentation {
  background: rgba(251, 247, 193, 0.3);
  color: floralwhite;
  background-size: cover;
  height: 100vh;
}

.articleHeading {
  font-family: 'Manrope', sans-serif;
  font-size: 3rem;
}

.infoText {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  padding-right: 24rem;
}

.inActionImg {
  width: 24rem;
  height: 24rem;
  object-fit: cover;
  padding-left: 4rem;
}

.emojis {
  display: flex;
  justify-content: center;
}
